<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <caption>명단보기</caption>
    <thead>
        <tr>
            {% for i in index %}
            <th>{{i}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in value %}
        <tr>
            {% for p in i %}
            <td>{{p}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>